@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    src: local('OpenSans-Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

* { margin:0; padding:0; }

body { font: 14px/1.4 OpenSans, Serif; width:100%; }
h1, h2 { margin:30px 0 5px 0; }
table.frers { border-collapse: collapse; width:100%; }
table.frers tr:nth-of-type(odd) { background: #eee; }
table.frers th { background:#333; color:#fff; font-weight:bold; }
table.frers th, table.frers td { border: 1px solid #ccc; padding: 6px; text-align: left; }
p {	margin:10px 0; }

#page-wrap { margin:0 auto; border:1px solid red; }
.page-filter { border:1px solid #e5e5e5; margin:20px 0; padding:10px; }


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1103px) { 
	body { width:1103px; }
	#page-wrap { margin:0 auto; }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body { padding: 0; margin: 0; width: 320px; }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body { width: 495px; }
}