html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}
h1 {
	color:#d9510f;
	font-size:30px;
    font-weight:600;
}
h2 {
	color:#50a03c;
	font-size:24px;
}
a { text-decoration: underline; }
.banner a { text-decoration: none; }

.header {
    background-color: #d9510f;
    color: #ffffff;
}

.footer {
    background-color: #d9510f;
	margin-top:40px;
    position: absolute;
    width: 100%;
    z-index:100;
	padding: 20px 0;
	color:#fff;
}
.carousel {
    margin-top:25px;
}

dd {
    line-height:16pt;
}

dt {
    font-size:12pt;
    font-weight:600;
}
dd {
    font-size:12pt;
    margin-bottom:10px;
}
.shareContainer{
    margin-top:25px;
}
@media (max-width : 5000px) {
    .logo {
        height: 54px;
        margin-top: -5px;
    }
    .logoimg {
        height: 80px;
        margin-top: 10px;
        margin-left:-20px;
    }
    .header{
        height:80px;
    }
    .headerRight {
        font-size: 15px;
        margin-top: 48px;
        text-align:right;
    }
    .carousel-caption {
        font-size: 24px; /*was 20px*/
        text-shadow: 2px 2px 3px #000;
    }
    td.details {
        text-align:center;
}
}

@media (max-width : 768px) {
    .logo {
        height: 28px;
        margin-top: -1px;
    }

    .logoimg {
        height: 42px;
        margin-left: -10px;
        margin-top: 8px;
    }

    .header{
        height:44px;
    }
    .headerRight {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 0;
        margin-top: 24px;
    }

    .carousel-indicators {
        display: none;
        bottom: 0;
    }

    .carousel-caption {
        bottom: 0px;
        padding-bottom: 10px;
        font-size: 10pt;
        text-shadow: 2px 2px 3px #000;
    }
    td.details {
    text-align:left;
}
}
@media (max-width: 480px) {
    .headerRight {
    font-size: 9px;
    line-height: 11px;
    margin-top: 14px;
}
}
.searchButton {
    margin-top: 25px;
}
.lineRule {
    border-bottom: 1px solid #eee;
    margin:5px 0 10px 0;
}
.datesDisplayed {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    margin-bottom:30px;
    margin-top: 10px;
}
.textHelp {
    font-size:10pt;
    color:#666;
    margin-top:10px;
}

/*Responsive Table*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
td, th {
	padding: 6px;
	text-align: left;
	vertical-align: top;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  text-align: left; 
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table.product, table.product thead, table.product tbody, table.product th, table.product td, table.product tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table.product thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.product tr { border: 1px solid #ccc; }
	
	table.product td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table.product td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}

.margin-top15 {
    margin-top:15px;
}
.margin-top10 {
    margin-top:10px
}
.margin-bottom30 {
    margin-bottom:30px;
}

.dl-horizontal dt { white-space:normal; }
.boxGray { border:1px solid #ccc; margin:0 2px 10px 2px; padding:10px 0; border-radius:5px; }
.searchContainer { background:#f5f5f5; border:1px solid #ccc; border-radius:5px; margin:20px 0 0 0; padding:10px 0 0 0; }
.breadcrumb { margin-top:25px; }
.fa { font:normal normal normal 20px/1 FontAwesome !important; padding:0 3px; }
.input-group-btn>.btn { height:34px; }
