html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-weight:600;
}
.header {
    background-color: #d9510f;
    color: #ffffff;
}

.footer {
    background-color: #d9510f;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
    z-index:100;
}
.fda-logo {
    margin-top:10px;
}
.carousel {
    margin-top:25px;
}

dd {
    line-height:14pt;
}

dt {
    font-size:14pt;
    font-weight:600;
}
dd {
    font-size:12pt;
    margin-bottom:15px;
}
.shareContainer{
    margin-top:25px;
}
@media (max-width : 5000px) {
    .logo {
        height:96px;
        margin-left:-50px;
    }
    .header{
        height:80px;
    }
    .headerRight {
        font-size: 16px;
        margin-top:43px;
        text-align:right;
    }
    .carousel-caption {
        font-size: 24px; /*was 20px*/
        text-shadow: 2px 2px 3px #000;
    }
    td.details {
    text-align:center;
}
}

@media (max-width : 768px) {
    .logo {
        height: 50px;
        margin-left:-10px;
    }

    .header{
        height:44px;
    }
    .headerRight {
        font-size: 12px;
        line-height:12px;
        margin-top:18px;
    }

    .carousel-indicators {
        display: none;
        bottom: 0;
    }

    .carousel-caption {
        bottom: 0px;
        padding-bottom: 10px;
        font-size: 11pt;
        text-shadow: 2px 2px 3px #000;
    }
    td.details {
    text-align:left;
}
}
@media (max-width: 480px) {
    .headerRight {
        font-size: 12px;
        line-height:12px;
        margin-top:8px;
    }
}
.searchButton {
    margin-top: 25px;
}
.lineRule {
    border-bottom: 1px solid #eee;
    margin:5px 0 10px 0;
}
.datesDisplayed {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    margin-bottom:10px;
}
.textHelp {
    font-size:10pt;
    color:#666;
    margin-top:10px;
}

/*Responsive Table*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  text-align: left; 
  vertical-align:top;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Product Description"; }
	td:nth-of-type(2):before { content: "Classification"; }
	td:nth-of-type(3):before { content: "Reason for Recall"; }
	td:nth-of-type(4):before { content: "Recalling Firm"; }
	td:nth-of-type(5):before { content: "Distribution Pattern"; }
	td:nth-of-type(7):before { content: "Event Details"; }
}

.margin-top15 {
    margin-top:15px;
}
.margin-top10 {
    margin-top:10px
}
.margin-bottom30 {
    margin-bottom:30px;
}


